@import "colors.css"; /* Import colors stylesheet */

* {
    font-family: JetBrains Mono, monospace; /* I'm a sucker for JetBrains Mono */
    font-size: 12px;
    
}

tooltip {
  background: linear-gradient(145deg, rgba(235,160,172,1) 0%, rgba(166,227,161,1) 100%);
}

tooltip * {
  color: @crust;
  text-shadow: none;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 3px;
    background: transparent;
    color: #11111b;
    border-bottom: solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#network,
#tray,
#wireplumber,
#mpris,
#cpu,
#temperature,
#memory {
    color: #11111b;
    background: linear-gradient(90deg, rgba(242,205,205,1) 0%, rgba(245,194,231,1) 35%, rgba(180,190,254,1) 100%);
    border: solid 3px #11111b;
    border-radius: 3px;
    padding: 0px 15px 0px 15px;
    margin: 7px 1px 7px 1px;
}

#workspaces {
    color: #11111b;
    background: linear-gradient(90deg, rgba(242,205,205,1) 0%, rgba(245,194,231,1) 35%, rgba(180,190,254,1) 100%);
    border: solid 3px #11111b;
    padding: 0px 5px 0px 5px;
    margin: 1px 1px 1px 1px;    
}

#cpu.critical,
#memory.critcal,
#temperature.critical {
    animation-name: critical;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning,
#memory.warning,
#temperature.warning {
    animation-name: warning;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#privacy {
    color: @crust;
    background: linear-gradient(320deg, rgba(249,102,143,1) 0%, rgba(137,180,250,1) 100%);
    border-color: @crust;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;            
    margin: 7px 1px 7px 1px;
}

#window,
#workspaces {
    margin: 0 1px;
}

#privacy-item {
    margin: 2px;
    padding: 0px 4px;
    border-radius: 2px;
    color:white;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* Define a flasing red animation */

@keyframes critical {
    to {
        color: #11111b;
        color: #ff0000;
    }
}

/* Define a flashing orange animation */

@keyframes warning {
    to {
        color: #11111b;
        color: #FF5500;
    }
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}
